.bio-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width:100%;
    height: auto;
    margin: 0rem auto 6rem auto;
    padding: 0rem;
    background:linear-gradient(to top,rgba(255, 0, 106, 0.232),rgba(255, 255, 255, 0.169));
   background-image:radial-gradient(circle at left center, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)100%),url('/public/images/sid5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
}

.bio-content{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 0rem;
    padding: 1rem;
    height: 100%;
    background:linear-gradient(to right,rgba(5, 5, 5, 0.193),rgba(130, 56, 56, 0));
    background:linear-gradient(to bottom,rgba(255, 0, 0, 0.193),rgba(130, 56, 56, 0));
     overflow: hidden;
  
}

.profile-pic-container{
    color: grey;
}


.sid-bio{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    top: 1rem;
    color: white;
  
   
}



.white-text {
  color: white;
  transition: color 0.5s;
}

.red-text {
  color: #ff4e4e;
  transition: color 0.5s;
}


.sid-name {
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.8s ease-in-out;
}

.fade-to-sidban {
  transform: scale(0.95);
  opacity: 0.8;
}

.sid-degree{
    font-weight: bold;
}
.sid-title{
     background: linear-gradient(to right, #ffffff, #ffffff,rgb(0, 0, 0));
  background-clip: text;
  font-size: 0.9rem;
  -webkit-text-fill-color: transparent;
}


.sid-description,
.sid-description-visible {

  width: 100%;
  margin-top: 100%;
  transition: margin-left 0.9s linear;
  background: linear-gradient(to right, #ffffff,rgba(255, 0, 98, 0.31));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.sid-description {
  margin-left: -120%;
}

.sid-description-visible {
  margin-left: 0px;
}


.contact-container,.contact-container-visible{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
   width: 50%;
   margin-left:70%;
   padding: 0.2rem;
   border-radius: 10px;
   height: auto;
   transition: margin-left 0.9s linear;
   overflow: hidden;

}
.contact-container{
  margin-left:70% ;
}


.contact-container-visible{
  margin-left:200% ;
}


@media screen and (min-width: 768px) {



.bio-content{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 0rem;
    padding: 1rem;
    height: auto;
    border-radius: 10px;
    background:linear-gradient(to right,rgba(5, 5, 5, 0.193),rgba(130, 56, 56, 0));
    background:linear-gradient(to bottom,rgba(255, 0, 0, 0.193),rgba(130, 56, 56, 0));
    overflow: hidden;
}



.sid-bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 1rem;
    color: white;
    overflow: hidden;
}






.sid-description,
.sid-description-visible {
  
  width: 100%;
  margin-top: 25%;
  transition: margin-left 0.9s linear;
  background: linear-gradient(to right, #ffffff,rgba(255, 0, 98, 0.31));
  background-clip: text;
  font-size: 1.5rem;
  -webkit-text-fill-color: transparent;
}




.contact-container,.contact-container-visible{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
   width: 50%;
   margin-left:90%;
   padding: 0.2rem;
   border-radius: 10px;
   height: auto;
   transition: margin-left 0.9s linear;
   overflow: hidden;

}
.contact-container{
  margin-left:90% ;
}


.contact-container-visible{
  margin-left:200% ;
}
}
