.skills-container {
   display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width:100%;
    height: 80vh;
    margin: 0rem auto 6rem auto;
    padding: 0rem;
    background:linear-gradient(to top,rgba(255, 0, 0, 0.232),rgba(255, 255, 255, 0.169));
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/public/images/tech1.jpeg');
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    overflow: hidden;
}

.skills-content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: start;
    align-self: center;
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.154));
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100%; 
    padding: 1rem;
    color: #fff; 
    overflow-y: auto;
   
}
.skills-head-logo{
   color: rgba(255, 255, 255, 0.465);
}
.skills-title-logo{
  color:rgba(255, 255, 255, 0.485);
}

.tech-description,
.tech-description-visible {
  
  width: 100%;
  margin-top: 0%;
  transition: margin-left 0.9s linear;
  background: linear-gradient(to right, #ffffff,rgba(255, 0, 4, 0.31));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech-description {
  margin-left: -120%;
}

.tech-description-visible {
  margin-left: 0px;
}



.skill-title{
 background: linear-gradient(to right, #ffffff, #e40000e4,rgb(250, 2, 2));
  -webkit-text-fill-color: transparent ;
  background-clip:text;
}


.skills-frontend-div,
.skills-frontend-div-visible {
  
display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: 1rem;
  transition: margin-left 0.9s linear;
  background: linear-gradient(to right, #ffffff,rgba(255, 0, 4, 0.31));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-frontend-div {
  margin-left: 200%;
}

.skills-frontend-div-visible {
  margin-left: 0%;
}



.skills-frontend-details{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-content: center;
   align-items: center;
   width: 100%;
   
 background:linear-gradient(to right,rgba(248, 31, 31, 0.193),rgba(130, 56, 56, 0));

}


.front-icon{
 font-size: 1rem;
}
.front-name{
 font-size: 1rem;
}
.front-detail{
 font-size: 0.2rem;
}
@media screen and (min-width: 768px) {


.skills-content{
   display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    align-self: start;
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.154));
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: #fff;
    


}

.front-icon{
 font-size: 1.5rem;
}



}



/*.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  min-height: 80vh;
  margin: 6rem auto 0;
  padding: 1rem;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.232), rgba(255, 255, 255, 0.169));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {


  .skills-container {
    padding: 1rem;
  }
}*/