
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.5); 
  border-radius: 3px; 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}


html {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
  background-color: #000000; 
}

:root {
  --font-size-base: clamp(1rem, 1.5vw, 1.25rem);
  --container-padding: clamp(1rem, 3vw, 2rem);
}

body, p, span, h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size-base);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 0;
  padding: 0 0.2rem;
}
